.education-timeline {
    font-family: 'Libre Franklin', sans-serif;
  }
  
  .education-timeline:after {
    content: '';
    display: block;
    clear: both;
  }

  
  
  .education-timeline .timeline {
    width: calc(50% + 60px);
    padding: 20px 0 0 60px;
    margin: 0 5px 15px 0;
    float: right;
  }
  
  .education-timeline .timeline-content {
    color: #fff;
    background: #f94419;
    text-align: center;
    padding: 20px 20px 20px 160px;
    display: block;
    position: relative;
  }
  
  .education-timeline .timeline-content:hover {
    text-decoration: none;
  }
  
  .education-timeline .timeline-content:before {
    content: "";
    background: linear-gradient(to top left, transparent 50%, #952000 52%);
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .education-timeline .timeline-icon {
    font-size: 30px;
    line-height: 54px;
    width: 60px;
    height: 60px;
    border: 4px solid #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 80px;
    top: 50%;
  }
  
  .education-timeline .timeline-year {
    background: #ff6134;
    color: black ;
    font-size: 32px;
    font-weight: 600;
    line-height: 110px;
    width: 120px;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -60px;
  }
  
  .education-timeline .title {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
    color: black;
  }
  
  .education-timeline .description {
    font-size: 17px;
    margin-top: 15px;
  }
  
  .education-timeline .timeline:nth-child(even) {
    padding: 20px 60px 0 0;
    float: left;
  }
  
  .education-timeline .timeline:nth-child(even) .timeline-content {
    padding: 20px 160px 20px 20px;
  }
  
  .education-timeline .timeline:nth-child(even) .timeline-content:before {
    transform: rotateY(180deg);
    left: auto;
    right: 0;
  }
  
  .education-timeline .timeline:nth-child(even) .timeline-year {
    right: -60px;
    left: auto;
  }
  
  .education-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 80px;
  }
  
  .education-timeline .timeline:nth-child(4n+2) .timeline-content {
    background: #1862F7;
  }
  
  .education-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background: linear-gradient(to top left, transparent 50%, #012E95 52%);
  }
  
  .education-timeline .timeline:nth-child(4n+2) .timeline-year {
  background: #3473FF;
  }
  
  .education-timeline .timeline:nth-child(4n+3) .timeline-content {
    background: #22a009;
  }
  
  .education-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background: linear-gradient(to top left, transparent 50%, #123a0a 52%);
  }
  
  .education-timeline .timeline:nth-child(4n+3) .timeline-year {
    background: #28b50c;
  }
  
  .education-timeline .timeline:nth-child(4n+4) .timeline-content {
    background: #F61945;
  }
  
  .education-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background: linear-gradient(to top left, transparent 50%, #95001D 52%);
  }
  
  .education-timeline .timeline:nth-child(4n+4) .timeline-year {
    background: #FE3559;
  }
  
  @media screen and (max-width: 990px) {
    .education-timeline .timeline {
      width: calc(50% + 120px);
    }
  }
  
  @media screen and (max-width: 767px) {
    .education-timeline .timeline {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .education-timeline .timeline,
    .education-timeline .timeline:nth-child(even) {
      text-align: center;
      padding: 42px 20px 0 0;
      margin: 0 0 30px;
    }
  
    .education-timeline .timeline-content,
    .education-timeline .timeline:nth-child(even) .timeline-content {
      padding: 150px 20px 20px;
    }
  
    .education-timeline .timeline-content:before,
    .education-timeline .timeline:nth-child(even) .timeline-content:before {
      width: 60px;
      transform: rotate(90deg);
      bottom: auto;
      top: 20px;
      left: -20px;
    }
  
    .education-timeline .timeline-year,
    .education-timeline .timeline:nth-child(even) .timeline-year {
      line-height: 100px;
      width: 100%;
      height: 100px;
      left: auto;
      right: -20px;
      top: -42px;
    }
  
    .education-timeline .timeline-icon,
    .education-timeline .timeline:nth-child(even) .timeline-icon {
      transform: translateX(-50%) translateY(0);
      top: 75px;
      left: 50%;
      right: auto;
    }
  
    .education-timeline .title {
      font-size: 20px;
    }
  }
  